@model IEnumerable<Inmobiliaria.Models.Casa>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaAlquilada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropietarioNombre)
            </td>
            <td>
                <img width="200" src='@Url.Action("ConvertirImagen", "Casas", new { id = item.CasaID })' />
            </td>
            <td>
        @{
            var Estado = item.EstaAlquilada ? "Alquilada" : "Disponible";

        }
        @Estado
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CasaID">Edit</a> |
                @* <a asp-action="Details" asp-route-id="@item.CasaID">Details</a> | *@
                <a  onclick="eliminarCasa(@item.CasaID);">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
        function eliminarCasa(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success boton1',
                    cancelButton: 'btn btn-danger boton2'
                },
                buttonsStyling: false
            })
            var eliminar = swalWithBootstrapButtons.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si, ¡bórralo!',
                cancelButtonText: 'No, ¡cancelalo!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithBootstrapButtons.fire(
                        '¡eliminado!',
                        'Su archivo ha sido eliminado.',
                        '¡éxito!'
                    )
                    function redirigir(){
                        location.href = "../../Casas/DeleteConfirmed/" + id;
                    }
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel

                    
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelado',
                        'Tu archivo esta a salvo',
                        'error'
                    )
                }
                setTimeout(redirigir, 2000);
            })
        }
    </script>
